# .tool-versions
# https://asdf-vm.com/manage/configuration.html#tool-versions
# https://mise.jdx.dev/dev-tools/
uv 0.8.15
towncrier 25.8.0
isort 6.0.1
direnv 2.32.1
git-cliff 2.4.0
mdbook 0.4.48
version-manager 3.0.0
swipl 9.0.4
dotnet 8.0.300
opam 2.1.5
cocq 4.14.1
sdkman 5.18.2
elixir 1.18.4-otp-26
erlang 28.0.2
cargo-show-asm 0.2.52
