#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"
asdf env
asdf reshim

# For android
PATH_add "$ANDROID_HOME/cmdline-tools/latest/bin"
PATH_add "$ANDROID_HOME/platform-tools"

# For dotnet
export DOTNET_ROOT="$(asdf where dotnet)"
PATH_add "$DOTNET_CLI_HOME/.dotnet/tools"

# latex
export TEXBASE="$(asdf where texlive)"

# For repo-local tasks
PATH_add "$PWD/.tasks"

export PROJ_ROOT="$PWD"
