#  .envrc -*- mode: sh -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# venv location
export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
if [ -d "$UV_PROJECT_ENVIRONMENT" ]; then
    source "$UV_PROJECT_ENVIRONMENT/bin/activate"
fi

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"

# For JVM setup
source "$SDKMAN_DIR/bin/sdkman-init.sh"
sdk env > /dev/null

# For Android:
PATH_add "$ANDROID_HOME/cmdline-tools/latest/bin"
PATH_add "$ANDROID_HOME/platform-tools"

# For dotnet
PATH_add "$DOTNET_ROOT"
PATH_add "$DOTNET_CLI_HOME/.dotnet/tools"

# latex
PATH_add "$TEXBASE/bin/x86_64-linux"

# For repo-local tasks
PATH_add "$PWD/.tasks"
