[submodule "wiki_"]
	path = wiki_
	url = git@github.com:jgrey4296/templates.wiki.git
[submodule "projects/polyglot"]
	path = projects/polyglot
	url = git@github.com:jgrey4296/polyglot-template.git
[submodule "tex-config/tex/luatex/tikz-eventchain"]
	path = tex-config/tex/luatex/tikz-eventchain
	url = git@github.com:jgrey4296/tikz-eventchain.git
