## setup.toml -*- mode: toml -*-
doot-version = "1.1"

[[locations]]
tools = "tools"
home  = "~"
cache = "{home}/_cache_"
tex   = "~/.local/texlive/current"

[[tasks.setup]]
name       = "system"
ctor       = "task"
depends_on = ["setup::_.symlinks", "setup::_.git", "setup::_.bash", "setup::_.dirs", "setup::_.misc"]

[[tasks.setup]]
name                 = "_.symlinks"
doc                  = ["setup symlinks to templates"]
ctor                 = "task"
actions              = [
   # Main
   {do="link!", link="{home!p}/.asdfrc",             to="{tools!p}/asdfrc"},
   {do="link!", link="{home!p}/.cabalrc",            to="{tools!p}/cabal.conf"},
   {do="link!", link="{home!p}/.cookiecutterrc",     to="{tools!p}/cookiecutterrc"},
   {do="link!", link="{home!p}/.gemrc",              to="{tools!p}/gemrc"},
   {do="link!", link="{home!p}/.ghci",               to="{tools!p}/ghci"},
   {do="link!", link="{home!p}/.globalrc",           to="{tools!p}/globalrc"},
   {do="link!", link="{home!p}/.inputrc",            to="{tools!p}/inputrc"},
   {do="link!", link="{home!p}/.lldbinit",           to="{tools!p}/lldbinit.conf"},
   {do="link!", link="{home!p}/.mailrc",             to="{tools!p}/mailrc"},
   {do="link!", link="{home!p}/.mail",               to="{tools!p}/mailutils.conf"},
   {do="link!", link="{home!p}/.mbsyncrc",           to="{tools!p}/mbsyncrc.linux"},
   {do="link!", link="{home!p}/.npmrc",              to="{tools!p}/npmrc"},
   {do="link!", link="{home!p}/.tmux.conf",          to="{tools!p}/tmux.conf"},
   {do="link!", link="{home!p}/.ExifTool_config",    to="{tools!p}/ExifTool_config"},
   {do="link!", link="{home!p}/.gradle_properties",  to="{tools!p}/gradle.properties"},
   {do="link!", link="{home!p}/.tool-versions",      to="{tools!p}/asdf_tool_version"},
   {do="link!", link="{home!p}/.wgetrc",             to="{tools!p}/wgetrc"},
   {do="link!", link="{home!p}/.pam_environment",    to="{tools!p}/pam_environment"},

   {do="link!", link="{home!p}/doot.toml",           to="doot/home_doot.toml"},
   {do="link!", link="{home!p}/.vimrc",              to="vim/vimrc"},
   {do="link!", link="{home!p}/.ispell_english",     to="ispell/ispell_english"},
   {do="link!", link="{home!p}/.aspell.conf",        to="ispell/aspell.conf"},

   # subdirs
   {do="link!", link="{home!p}/.ssh/config",                     to="{tools!p}/ssh_config"},
   {do="link!", link="{home!p}/.config/gdb/gdbinit",             to="{tools!p}/gdbinit"},
   {do="link!", link="{home!p}/.config/gpg/gpg-agent.conf",      to="{tools!p}/gpg-agent.linux.conf" },
   {do="link!", link="{home!p}/.config/calibre/global.py.json",  to="{tools!p}/calibre/global.py.json"},
   {do="link!", link="{home!p}/.config/user-dirs.dirs",          to="{tools!p}/user-dirs.dirs"},
   {do="link!", link="{home!p}/.config/matplotlib/matplotlibrc", to="python/matplotlibrc"},
   {do="link!", link="{home!p}/.config/switch-to-firefox.bash",  to="bash/shortcuts/switch-to-firefox.bash"},
   {do="link!", link="{home!p}/.config/switch-to-tor.bash",      to="bash/shortcuts/switch-to-tor.bash"},

   {do="link!", link="{home!p}/_cache_/cargo/config.toml",        to="{tools!p}/cargo_config.toml"},
   # Tex
   {do="link!", link="{tex!p}/texmf.cnf",            to="tex-config/texmf.cnf.linux"},
   {do="link!", link="{tex!p}/texmfcnf.lua",         to="tex-config/texmfcnf.lua.linux"},

   # Apt - needs permissions
   # {do="link!", link="/etc/apt/preferences.d/disallow", to="{tools!p}/apt/disallow"},
]                   # <list[Any]>

[[tasks.setup]]
name = "_.bash"
actions = [
   {do="link!", link="{home!p}/.bashrc",       to="bash/interactive.bash"},
   {do="link!", link="{home!p}/.bash_logout",  to="bash/logout.bash"},
   {do="link!", link="{home!p}/.bash_profile", to="bash/login.bash"},
   {do="link!", link="{home!p}/.profile",      to="bash/profile.linux.bash"},
]

[[tasks.setup]]
name    = "_.dirs"
actions = [
   {do="dir!", args=["{home!p}/.config/secrets", "{home!p}/_cache_", "{home!p}/.local/bin"]}

]

[[tasks.setup]]
name    = "_.misc"
actions = [
   {do="touch", file="{home!p}/.browsers"}
]

[[tasks.setup]]
name                 = "_.git"
doc                  = ["setup git config file symlinks"]                   
actions              = [
   # Git General:
   {do="link!", link="{home!p}/.gitconfig",                      to="git/gitconfig"},
   {do="link!", link="{home!p}/.gitignore_global",               to="git/gitignore_global"},
   {do="link!", link="{home!p}/.config/gh/config.yml",           to="git/github_config.yml"},
   # Setup git cliff:
   {do="dir!",  args=["{home!p}/.config/git-cliff/}"]},
   {do="link!", link="{home!p}/.config/git-cliff/cliff.toml",    to="git/cliff.toml"},
]

[[tasks.setup]]
name = "_.nu"
doc = ["symlinks nushell config into home!p"]
actions = [
        {do="dir!", args=["{home!p}/.config/nushell"]},
        {do="link!", link="{home!p}/.config/nushell/env.nu", to="nu/env.nu"},
        {do="link!", link="{home!p}/.config/nushell/config.nu", to="nu/config.nu"}
]



[[tasks.setup]]
name         = "_.asdf"
doc          = ["https://asdf-vm.com/guide/getting-started.html"]
ctor         = "task"
asfd_url     = "https://github.com/asdf-vm/asdf.git"
elixir_url   = "https://github.com/asdf-vm/asdf-elixir.git"
erlang_url   = "https://github.com/asdf-vm/asdf-erlang.git"
ruby_url     = "https://github.com/asdf-vm/asdf-ruby.git"
kotlin_url   = "https://github.com/asdf-community/asdf-kotlin.git"
rust_url     = "https://github.com/asdf-community/asdf-rust.git" # set RUST_WITHOUT=rust-docs to reduce install size
racket_url   = "https://github.com/vic/asdf-racket.git"
python_url   = "https://github.com/asdf-community/asdf-python.git"
poetry_url   = "https://github.com/asdf-community/asdf-poetry.git"
graalvm_url  = "https://github.com/asdf-community/asdf-graalvm.git"
opam_url     = "https://github.com/asdf-community/asdf-opam.git"
haskell_url  = "https://github.com/vic/asdf-haskell.git"
uv_url       = "https://github.com/asdf-community/asdf-uv"
# fstar_url  = "https://github.com/asdf-community/asdf-fstar.git"
asdf_ver     = "v0.14.0"
depends_on = ["setup::_.go"]
setup        = [
      # -- install asdf through go
      # -- install dependencies of the runtimes here --
]
actions    = [
   # # -- possibly need to add environment var state here --
   # {do="sh", args=["asdf", "plugin", "add", "erlang", "{erlang_url}"]},
   # {do="sh", args=["asdf", "plugin", "add", "elixir", "{elixir_url}"]},
   # {do="sh", args=["asdf", "plugin", "add", "ruby",    "{ruby_url}"]},
   # {do="sh", args=["asdf", "plugin", "add", "uv" "{uv_url}"]},
]
cleanup = [
   # {do="sh", args=["asdf", "global", "erlang", "latest"]},
   # {do="sh", args=["asdf", "global", "elixir", "latest"]},
   # {do="sh", args=["asdf", "global", "ruby", "latest"]},
   # {do="sh", args=["asdf", "global", "uv", "latest"]},
   # reshim
]


[[tasks.setup]]
name        = "_.go"
actionlint  = "github.com/rhysd/actionlint/cmd/actionlint@latest"
glab        = "gitlab.com/gitlab-org/cli/cmd/glab@main"
actions     = [
  # install go
  # install actionlint
  # install glab
]
